@use 'generators' as *;
@use 'primitives' as *;

.metabox{
    position: fixed;
    bottom: 5rem;
    left: -300px + 30px;
    width: 300px;
    border: $borderPrimaryBase;
    border-radius: $borRadBase;
    padding: $spHuge;
    background-color: $primaryBG;
    z-index: 900;
    transition: left 0.5s ease-in-out;

    &:hover{
        left: 0rem;        
    }
    
    i{
        font-size: 0.75rem;
        line-height: auto;
    }
}

.metabox-label {
    position: absolute;
    top: 2.5rem;
    right: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg); 
    font-size: $scaleBase;
    font-family: $font-heading;
    color: $primary;
    letter-spacing: 0.1em;
}

.metabox-info-icon{
    position: absolute;
    top: 0.5rem;
    right: 0;
    font-size: 1.5rem;
    color: $primary;
}

.metabox-content{
    display: flex;
    flex-direction: column;
    align-items: start;

    li{
        font-size: 0.75rem;
        padding: 0.125rem;
    }   
}

.icon{
    font-size: 4.5rem;
}

.externalLinkIconCard{
    display: flex;
    flex-direction: column;
    margin: $spSmall;
    align-items: center;
    padding: $spMedium;

    .cv-stack & , .contactMe-section &{
    flex-direction: row;
    img{
        margin-right: 0.250rem;
    }
  }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.2s ease;
        }

    &:focus,
    &:hover {
        border: $borderPrimaryBase;
        border-radius: $borRadBase;
        
    }

    

    img {
        height: 50px;
        width: 50px;
    }
   

    span {
        text-align: center;
    }

    
}

