@use 'generators' as *;
@use 'primitives' as *;
@use 'base' as *;

main{
    background-color: $softWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

header{
    background-color: $primaryBG;
    border-bottom: $borderPrimaryBase;
    height: 10vh;
    padding: 0  $spHuge;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header-logo-section {
        display: flex;
        align-items: center;
            img{
            border: $borderPrimaryBase;
            border-radius: 50%;  
            height:p(75);      
        }        
    }  
    
    .header-logo-section h1 {
//   font-size: 1.5rem;
//   margin-left: 0.5rem;

  @media (max-width: 500px) {
    display: none;
  }
}
}

footer{
    width: 100%;
    background-color: $primaryBG;
    border-top: $borderPrimaryBase;
    padding: $spHuge;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}