/* _primitives.scss */
@use 'generators' as *;

/* Font */
$primaryFont: 'Georgia';
$secondaryFont: 'Roboto';
$teriaryFont: 'Montserrat';

$font-body: $secondaryFont, sans-serif;
$font-heading: $primaryFont, serif;

body {
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

/* Colours */
  /* Theme colors */
  $primary: #0157AE; 
  $primaryBG: #E6F2FF;
  $primaryDark: #1565C0;
  /* Attention */
  $secondary: #20C997;
  $secondaryBG: #D9F7EE;
  $secondaryDark: #137A6D;
  /* highlighting */
  $teriary: #FFF59D;
  $tertiaryBG: #FFFDE7;
  $tertiaryDark: #F9C846;

  /* Functional Colors */
  /* Black, softWhite and White */
  $black: #000;
  $softWhite: hsl(0, 0%, 95%);
  $white:#fff;

  /* alert */
  $alert: #DC3545;
  $alertBG: #F8D7DA;
  $alertDark: #B71C1C;
  /* warning */
  $warning: #FFC107;
  $warningBG: #FFF8E1;
  $warningDark: #FF8F00;
  /* success */
  $success: #28A745;
  $successBG: #D4EDDA;
  $successDark: #155724;
  /* information */
  $info: #17A2B8;
  $infoBG: #D1ECF1;
  $infoDark: #0C5460;
  /* Disabled */
  $disable: #646363;
  $disableBG: #e2e2e2;
  $disableDark: #5a5a5a;

  /* Decorative Colors */
  $shadowBase: rgba(0, 0, 0, 0.5);
  $shadowHigh: rgba(0, 0, 0, 0.25);
  $shadowLow: rgba(0, 0, 0, 0.125);

  /* Scale */
 $scale1: 3.815rem;  
 $scale2: 3.052rem;
 $scale3: 2.441rem;
 $scale4: 1.953rem;
 $scale5: 1.563rem;
 $scale6: 1.25rem;
 $scaleBase: 1rem;
 $scaleSub: 0.75rem;
 $scaleMini: 0.5rem;
 
 /* Margin, Padding & Gap */
 $spTiny: 0.25rem;
 $spSmall: 0.5rem;
 $spMedium: 1rem;
 $spLarge: 1.5rem;
 $spHuge: 2rem;

 /* borders */
 $borRadMin: 0.5rem;
 $borRadBase: 1rem;
 $borRadMax: 2rem;

 $borderPrimaryBase: 0.125rem solid $primary;
 $borderSecondaryBase: 0.125rem solid $secondary;
 $borderTertiaryBase: 0.125rem solid $teriary;
 $borderDisableBase: 0.125rem solid $disable;

