@use 'primitives' as *;
 
 /* Margin, Padding & Gap */
 $spMin: $p4;
 $spLess: $p8;
 $spBase: $p16;
 $spMore: $p24;
 $spMax: $p32;

 /* borders */
 $borRadMin: $p8;
 $borRadBase: $p16;
 $borRadMax: $p32;

 $borderPrimaryBase: $p2 solid $primary;
 $borderSecondaryBase: $p2 solid $secondary;
 $borderTertiaryBase: $p2 solid $teriary;
 $borderDisableBase: $p2 solid $disable;